
body{
    margin: 0;
    padding: 0;
    background-color: grey;
}

.redRow,
.yellowRow,
.greenRow,
.blueRow{
    padding-top: 20px;
    width: 600px;
    height: 80px;
}


.redRow {
    background-color: rgb(230, 18, 18);
    
}

.yellowRow {
    background-color: rgb(255, 220, 61);
}

.greenRow {
    background-color: rgb(29, 170, 100) ;
}

.blueRow {
    background-color: #3c3cec;
}

.numberBox,
.closeBox{
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 10px;
    border: none;
    background-color: rgba(252, 252, 252, 0.7);
}

