button{
    border: none;
    height: 50px;
    font-size: 20px;
    background-color: white;
  
}
.all{
    background-color: rgb(220,220,220);
    padding-bottom: 30px;
}





/* @media (min-width: 576px) { */
    button{
        width: 100%;
         
     }

    .xBox{
        margin-right: 20px;
        background-color: white;
    }

    .numberBox{
        background-color: rgba(252, 252, 252, 0.911);
        font-size: 25px;
        
    }

    .numberRow{
        height: 70px;
        margin-bottom: 10px;
    }

    .redNumberRow{
        background-color: rgb(223,60,43);    
    }

    .yellowNumberRow{
        background-color: rgb(255,220,46);
    }

    .greenNumberRow{
        background-color: rgb(60,176,111);
    }
    .blueNumberRow{
        background-color: rgb(70,107,214);
    }

    svg{
        font-size: 30px;
    }
    
    .closeBox{
        background-color: rgba(252, 252, 252, 0.911);
       
    }

    .red {
        color: rgb(223,60,43);
    }

    .yellow{
        color: rgb(255,220,46);
    }

    .green{
        color: rgb(60,176,111);
    }

    .blue{
        color: rgb(70,107,214);
    }

    .redTotal{
        color:  rgb(223,60,43);
        background-color: rgb(223,60,43);
        border-radius: 10%;
        height: 40px;
        width: 200px;
        
    }

    .yellowTotal{
        color: rgb(255,220,46);
        background-color: rgb(255,220,46);
        border-radius: 10%;
        height: 40px;
    }

    .greenTotal{
        color: rgb(60,176,111);
        background-color: rgb(60,176,111);
        border-radius: 10%;
        height: 40px;
    }

    .blueTotal{
        color: rgb(70,107,214);
        background-color: rgb(70,107,214);
        border-radius: 10%;
        height: 40px;
    }

    .xTotal{
        color: white;
        background-color: white;
        border-radius: 10%;
        height: 40px;
    }
    
    .scoreTotal{
        color: white;
        background-color: white;
        border-radius: 10%;
        height: 40px;
    }

    .scoreTotal{
        color: white;
        background-color: white;
        border-radius: 10%;
        height: 40px;
    }



    .trophyDiv,
    .endGame{
        background-color: rgb(220,220,220);
    }

    .bi-trophy{
        color:black;
    }

    .scoreDiv{
        margin-top: 10px;
    }



    .title{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .heading{
        text-align: center;
        font-size: 35px;
    }

    .refresh,
    .addXBtn{
        border-radius: 10%;
    }







 /* } */


